#wrapper {
    max-width: 900px;
    margin: 0 auto;
}
.header-container {
    background-color: #7549ea;
}

* {
    font-family: "Comic Sans",sans-serif;
}

.header {
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 300%;
    margin: 10px;
}

.recipe-list {
    background-color: #71ecca;
    padding: 10px;
    list-style-position: inside;
    font-size: larger;
}